*/__pycache__/
#
old_1D/exact_results_1D/Real_Quench/
old_1D/exact_results_1D/Linear_Quench/
#
Schwinger_Boson_XY/Data/
#
old_1D/googleKZ/*Data*/
old_1D/googleKZ/old*
#
old_1D/KZ_1D/results/
#
new_1D/data/
new_1D/exp_input/
#
SpinWave/exp_input/
SpinWave/results/
#
*/results/
*/figures/
